body {
  margin: 0;
  height:  100vh;
  background: linear-gradient(#2A00B7, #42006C);
  font-family: "Red Hat Display", sans-serif;
  /* background-color: #10101A; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 15px;
  width: auto;
  background: #151520;
  background: transparent;
  padding: 50px;
  border-radius: 20px;
}

.add-column-btn {
  color: whitesmoke;
  background-color: #20202A;
  height: 60px;
  width: 250px;
  min-width: 250px;
  cursor: pointer;
  padding: 4px;
  border-radius: 10px;
}

.kanban-card {
  color: whitesmoke;
  background-color: #202030;
  width: 250px;
  height: auto;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.kanban-card-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.kanban-card-header {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
  height: 60px;
  width: 100%;
  background-color: #151525;
  border-radius: 10px 10px 0 0;
}

.kanban-card-header button {
  height: 50px;
  width: 50px;
  background: none;
  color: white;
  font-size: 20px;
  padding: 0;
  border: none;
}

.kanban-card-item {
  color: whitesmoke;
  background: #30303A;
  height: 50px;
  width: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}